Babel
blinker
cachelib
certifi
charset-normalizer
click
colorama
cryptography
cs50
Flask
Flask-Cors
Flask-Session
Flask-SQLAlchemy
greenlet
httplib2
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
more-itertools
oauthlib
packaging
pillow
pyOpenSSL
pyparsing
pytz
requests
simplejson
six
SQLAlchemy
sqlparse
termcolor
typing_extensions
urllib3
Werkzeug
zipp
python-dotenv
