/* General Styling */
body {
    background-color: #bdbdbd;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Lato', sans-serif;
    color: #19303B; /* Default text color */
}

h1, h2, h3, h4, h5, h6, p {
    color: #19303B; /* Blue color */
}

/* Navbar Styling */
nav .navbar-brand {
    font-size: xx-large;
    margin: 0 30px 0 20px;
}

nav .navbar-brand .blue {
    color: #ffffff;
}

.navbar {
    background-color: #20338a;
    border-bottom: 8px solid rgb(255, 22, 22);
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 0.5rem;
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
    color: #fff; /* White text for links */
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #c2c2c2; /* Custom hover color */
}

/* Table Styling */
.table {
    margin-bottom: 10px; /* Adds bottom margin between tables */
    border-radius: 5px;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}

.table-responsive-mobile {
    overflow-y: auto;
}




.table-bordered td, .table-bordered th {
    border: 1px solid #455769;
}

.table th {
    font-size: 17px; /* Font size for table headers */
    font-weight: bold; /* Make table headers bold */
    background-color: #ffffff; /* Background color for headers */
    color: #19303B;
    vertical-align: middle;
}

.table td {
    font-size: 16px; /* Font size for table cells */
    vertical-align: middle;
    white-space: nowrap;
    color: #19303B;
}

.table-date-header {
    font-weight: bold;
    text-align: center;
}

/* Prediction Colors */
.prediction-wrong {
    color: rgb(128, 128, 128);
}

.sub-correct {
    color: rgb(22, 104, 255);
}

/* Special Columns */
.custom-column-1 {
    width: 2%; /* Width of column 1 */
}

/* Sticky Headers */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Ensure background color for sticky effect */
    border-bottom: 2px solid #19303B; /* Border at the bottom of header */
}

/* Logo Styling */
.team-logo, .team-logo-small .team-logo-big{
    object-fit: contain;
    /*object-fit: cover; for rounded logos
    border-radius: 50%; /* Rounded corners */
    /*border: 1px solid #cfcece;*/
}

.team-logo {
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
}

.team-logo-big {
    width: 50px; /* Set a consistent width */
    height: 50px; /* Set a consistent height */
    vertical-align: middle; /* Align vertically in the middle of the cell */
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 5px;
    margin-top: 5px;
    display: block; /* Ensure it's treated as a block-level element */
    object-fit: contain;
}

.team-logo-small {
    width: 20px;
    height: 20px;
    object-fit: contain;

}

/* Alignment Classes */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Additional Classes */
.score-input {
    width: 43px; /* Adjust width as needed */
    text-align: center; /* Center text within input */
    display: inline-block; /* Ensures inputs stay on the same line */
}

.form-control.score-input {
    width: 40px; /* Adjust width as needed */
}

.btn-container {
    text-align: right;
    margin-top: 10px; /* Adjust as needed */
}

.last-update {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

.team-name {
    font-weight: bold; /* Make team names bold */
}


/* Responsive Design */
@media (min-width: 768px) {
    .table-responsive-desktop {
        display: block; /* Show desktop table on large screens */
        max-width:fit-content;
        max-height: 620px;
        overflow-y: auto;
    }
    .table-responsive-mobile {
        display: none; /* Hide mobile table on large screens */
    }
    .table-responsive {
        max-width: fit-content;   
    }
}

  
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(22, 104, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Match Columns */
.match-column {
    display: none;
}

.match-column.visible {
    display: table-cell;
}

/* Hide the button by default */
.navigationButton {
    display: none;
}

/* Card Formatting */
.card-body {
    text-align: left; /* Ensure the card body text is left-aligned */
    padding: 1.5rem; /* Adjust padding as needed */
}

.card-title {
    color: rgb(0, 0, 0); /* Example text color */
    font-size: 1.5rem; /* Example font size */
}
.header {
    background-color: #820000;
    border-bottom: 5px solid #001d6c;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1020;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar {
    width: 250px;
    background-color: #001642;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1030; /* Ensure sidebar is on top of content */
    transition: transform 0.3s ease;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 14px;
    min-width: 250px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.flash-message {
    width: 100%;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        top: 60px;

    }
    table {
        margin: 0;
        width: 100%;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .header {
        left: 0;
        text-align: center;
    }
    .navigationButton {
        display: inline-block; /* or display: block; */
    }
    .form-container {
        display: flex;
        justify-content: center;
    }    

    .toggle-sidebar-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1040;
    }

    .table-responsive-desktop {
        display: none; /* Hide desktop table on small screens */
    }
    .table-responsive-mobile {
        display: block; /* Show mobile table on small screens */
    }
}

.form-wrapper {
    background: white; /* Background color for the form */
    padding: 2rem; /* Padding around the form */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    max-width: 300px; /* Max width for the form */
    width: 100%; /* Full width up to the max-width */
}
.stats {
    display: flex;
    justify-content: space-between; /* Distribute space between the text and the span */
}

.stats span {
    text-align: right; /* Right-align text inside the span */
    margin-left: auto; /* Push the span to the right */
}

ul.list-unstyled {
    padding: left 10px;
}

ul.list-unstyled li {
    margin-bottom: 0.5rem; /* Adjust margin between list items */
    list-style-type: none; /* Remove default list bullets */
}

ul.list-unstyled li:before {
    content: "\2022"; /* Use bullet character as list item marker */
    color: #0055a0; /* Example bullet color */
    display: inline-table;
    width: 1em;
    margin-left: -0.5em; /* Adjust position for bullet */
}

.list-group{
    max-width: 400px;
    width: 100%;
}

/* Icon Styling */
.list-group-item i {
    color: #007bff;
    margin-right: 0.5rem; /* Spacing between icon and text */
}

.logo-img {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.header h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5rem; /* Adjust font size as needed */
}

.flash-message {
    width: 100%;
    margin-bottom: 20px;
}



