{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block header %}
    <a href="{{ url_for('home') }}" class="header-link text-white text-decoration-none">
        Home
    </a>
{% endblock %}
{% block main %}


<div class="form-container">
    <div class="form-wrapper" style="max-width: 400px;">
      <h4 class="card-title">News</h4>
      <ul class="list-unstyled">
        <li>Info: Bei Unentschieden mit falschem Ergebnis bekommt man immer 2 Punkte, obwohl die Tordifferenz stimmt. </li>
        <li>Mit 14 zu 3 Stimmen wurde für den Wetteinsatz ab der 3. Runde gestimmt. </li>
        <li>Vorschlag: Wetteinsatz 5 €.</li>
        <li>Gewinnaufteilung wie folgt (bei 14 Teilnehmern): <br>
          1. Platz: 50 % --> 35 € <br> 
          2. Platz: 30 % --> 21 €<br>
          3. Platz: 20 % --> 14 €<br>
        </li>
        <li>Am Ende der 3. Spielrunde (also ende Januar) wird abgerechnet. Für die Chancengleichheit zählen dabei nur die Punkte aus der 3. Runde!</li>
        <li>Für einen besseren Überblick wer in der 3. Runde vorne ist, lohnt sich ein Blick in die (hoffentlich bald) umgesetzte Seite "Rangliste - Übersicht"</li>
        <li>Bis dahin sieht man in der "P" Spalte in der Rangliste die Punkte der aktuellen Runde</li>
      </ul>
   
      <!-- Placements Section -->
      <h4 class="card-title mt-4">Platzierungen</h4>
      <p class="card-text">
        <span class="d-flex justify-content-between">
          Du bist {{ insights.rank }}.!
        </span>
        <span class="d-flex justify-content-between">
          <span>Aktuell Führender: {{ insights.leader }}</span>
        </span>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-sm-none justify-content-between text-center">
      <a href="{{ url_for('tippen') }}" class="btn btn-primary mt-3 ml-sm-2" style="margin-right: 20px;">Tippen</a>
      <a href="{{ url_for('rangliste') }}" class="btn btn-primary mt-3">Zur Rangliste</a>
    </div>
  </div>
{% endblock %}
