{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block header %}
    <a href="{{ url_for('home') }}" class="header-link text-white text-decoration-none">
        Home
    </a>
{% endblock %}
{% block main %}


<div class="form-container">
    <div class="form-wrapper" style="max-width: 400px;">
      <h4 class="card-title">News</h4>
      <ul class="list-unstyled">
        <li>Gesamtrangliste wurde hinzugefügt, um besser sehen zu können, wer in der aktuellen Spielrunde, welche immer zwei Monate umfasst, vorne ist.</li>
        <li>Die aktuelle Spielrunde ist dabei rot markiert.</li>
        <li>Wegen Tippeinsatz/Auszahlung komme ich nochmal auf euch zu.</li>
      </ul>
   
      <!-- Placements Section -->
      <h4 class="card-title mt-4">Platzierungen</h4>
      <p class="card-text">
        <span class="d-flex justify-content-between">
          Du bist {{ insights.rank }}.!
        </span>
        <span class="d-flex justify-content-between">
          <span>Aktuell Führender: {{ insights.leader }}</span>
        </span>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-sm-none justify-content-between text-center">
      <a href="{{ url_for('tippen') }}" class="btn btn-primary mt-3 ml-sm-2" style="margin-right: 20px;">Tippen</a>
      <a href="{{ url_for('rangliste') }}" class="btn btn-primary mt-3">Zur Rangliste</a>
    </div>
  </div>
{% endblock %}
