{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    Log In
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Benutzername" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Passwort" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/register" class="btn btn-primary" style="margin-left: 1rem">Registrieren</a>
</form>
{% endblock %}
