{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block header %}
<a href="" class="header-link text-white text-decoration-none">
    Log in
</a>
{% endblock %}

{% block main %}
<div class="form-container">
    <form action="/login" method="post" class="form-wrapper">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control w-100" name="username" placeholder="Benutzername" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control w-100" name="password" placeholder="Passwort" type="password">
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Log In</button>
            <a href="/register" class="btn btn-primary">Registrieren</a>
        </div>
    </form>
</div>
{% endblock %}
