{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block header %}
    Registrieren
{% endblock %}


{% block main %}
    <form action="/register" method="post">
        <div class="form-floating mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Benutzername" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Passwort" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Passwort wiederholen" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="accesscode" placeholder="Zugangscode" type="text">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Registrieren</button>
        </div>
    </form>
{% endblock %}
