{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block header %}
    <a href="/" class="header-link text-white text-decoration-none">
      Statistik
    </a>
{% endblock %}

{% block main %}

<div class="form-container">
  <div class="form-wrapper" style="max-width: 350px;">
    <div class="stats"> Deine Platzierung: <span>{{ insights.rank }}. von {{ insights.no_users }}</span></div>
    <div class="stats"> Gesamtpunkte <span>{{ insights.total_points }}</span> </div>
    <p></p>
    <div class="stats">Getippte Spiele: <span>{{ insights.total_games_predicted }}</span></div>
    <div class="stats">Ausgewertete Tipps: <span>{{ insights.predictions_rated }}</span></div>
    <div class="stats">Verpasste Spiele: <span>{{ insights.missed_games }}</span></div>
    <div class="stats">Punkte pro Tipp: <span>{{ insights.points_per_tip }}</span></div>
    <p></p>
    <div class="stats">Richtiges Ergebnis: <span>{{ insights.corr_result_p }}% ({{ insights.corr_result }}x)</span></div>
    <div class="stats">Richtiges Torverhältnis: <span>{{ insights.corr_goal_diff_p }}% ({{ insights.corr_goal_diff }}x)</span></div>
    <div class="stats">Richtige Tendenz: <span>{{ insights.corr_tendency_p }}% ({{ insights.corr_tendency }}x)</span></div>
    <div class="stats">Falscher Tipp: <span>{{ insights.wrong_predictions_p }}% ({{ insights.wrong_predictions }}x)</span></div>
    </div>
</div>


{% endblock %}