{% extends "layout.html" %}

{% block title %}
    Tippen
{% endblock %}

{% block header %}
<a href="" class="header-link text-white text-decoration-none">
    Tippen
  </a>
{% endblock %}
{% block main %}

<div class="pagination">
    <ul class="pagination">
        {% if prev_matchday %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tippen', matchday=prev_matchday) }}"><i class="fa-solid fa-caret-left"></i></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-caret-left"></i></a>
            </li>
        {% endif %}
        <li class="page-item dropdown">
            <a class="page-link" href="#" role="button" id="dropdownMatchday" data-bs-toggle="dropdown" aria-expanded="false"> {{ current_matchday }}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMatchday">
                {% for matchday in matchdays %}
                    <li><a class="dropdown-item" href="{{ url_for('tippen', matchday=loop.index) }}">{{ matchday }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% if next_matchday %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('tippen', matchday=next_matchday) }}"><i class="fa-solid fa-caret-right"></i></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"><i class="fa-solid fa-caret-right"></i></a>
            </li>
        {% endif %}
    </ul>
</div>

<form id="tippenForm" action="/tippen" method="post">
    <!-- Desktop/Tablet View -->
    <div class="table-responsive-desktop">
        <table class="table">
            <tbody>
                {% for match in matches %}
                <tr>
                        <td colspan="5" class="table-date-header">
                            {{ match.formatted_matchDateTime }} <br>
                            <span style="font-weight: normal;">{{ match.groupName }} {{ match.formatted_leagueShortcut }}</span>
                        </td>
                    </tr>
                        <tr>
                            <td class="text-right">{{ match.team1.teamName }}</td>
                            <td><img src="{{ match.team1.teamIconPath }}" alt="{{ match.team1.teamName }}-logo" class="team-logo"></td>
                            <td class="text-center">
                                <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="desktop_team1Score_{{ match.id }}" name="team1Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team1_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                                <strong>:</strong>
                                <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="desktop_team2Score_{{ match.id }}" name="team2Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team2_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                            </td>
                            <td><img src="{{ match.team2.teamIconPath }}" alt="{{ match.team2.teamName }}-logo" class="team-logo"></td>
                            <td class="text-left">{{ match.team2.teamName }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Mobile View -->
    <div id="mobileTableContainer" class="table-responsive-mobile">
        <table class="table">
            <tbody>
                {% for match in matches %}
                <tr>
                    <td colspan="3" class="table-date-header">
                        {{ match.formatted_matchDateTime }} <br>
                        <span style="font-weight: normal;">{{ match.groupName }} {{ match.formatted_leagueShortcut }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="{{ match.team1.teamIconPath }}" alt="{{ match.team1.teamName }}-logo" class="team-logo-big">
                        <div style="font-size: 0.9em;"> {{ match.team1.shortName }} </div>
                    </td>
                    <td class="text-center">
                        <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="mobile_team1Score_{{ match.id }}" name="team1Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team1_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                        <strong>:</strong>
                        <input type="text" autocomplete="off" class="form-control score-input" placeholder="-" id="mobile_team2Score_{{ match.id }}" name="team2Score_{{ match.id }}" min="0" max="99" maxlength="2" value="{% for prediction in predictions %}{% if prediction.match_id == match.id %}{{ prediction.team2_score }}{% endif %}{% endfor %}" {% if match not in valid_matches %} disabled {% endif %}>
                    </td>
                    <td class="text-center">
                        <img src="{{ match.team2.teamIconPath }}" alt="{{ match.team2.teamName }}-logo" class="team-logo-big">
                        <div style="font-size: 0.9rem;"> {{ match.team2.shortName }} </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="display: flex; justify-content: space-between;">
        <p class="last-update">Stand: {{ last_update }}</p>
        <button type="submit" class="btn btn-primary btn-container">Speichern</button>
    </div>
</form>

</div>
<script>
    document.getElementById('tippenForm').addEventListener('submit', function(event) {
        // Get the current screen
        var screenWidth = window.innerWidth;

        // Get the desktop and mobile view divs
        var desktopView = document.querySelector('.table-responsive-desktop');
        var mobileView = document.querySelector('.table-responsive-mobile');

        // Hide inputs that are not visible based on the screen width
        if (screenWidth >= 768) {
            // Hide mobile inputs for desktop view
            mobileView.querySelectorAll('input').forEach(function(input) {
                input.disabled = true;
            });
        } else {
            
            // Hide desktop inputs for mobile view
            desktopView.querySelectorAll('input').forEach(function(input) {
                input.disabled = true;
            });
        }
    });

    function adjustTableHeight() {
            var screenHeight = window.innerHeight;
            var desiredHeight = screenHeight - 220;

            var mobileTableContainer = document.getElementById('mobileTableContainer');
            mobileTableContainer.style.maxHeight = desiredHeight + 'px';
            }

    adjustTableHeight();

    window.addEventListener('resize', adjustTableHeight);
</script>

{% endblock %}
